
<div class="register">
    <form class="custom-form" method="post">
      <h1 class="entrar">Registro</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Introduzca Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Introduzca Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Confirme Contraseña"
        required="required"
      />
      <button type="submit" (click)="register()">REGISTRO</button>
    </form>
</div>