
<!-- <div class="misProyectos">
    <div class="izquierdo">
        <app-grafico></app-grafico>
    </div>
    <div class="derecho">
        <app-login></app-login>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row mb-2 titulo">
        <div class="col-12">
            <h1>MIS PROYECTOS</h1>
        </div>
    </div> 
    <div class="row misProyectos">
        <div class="col-md-5">
            <app-grafico></app-grafico>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <app-buscapelis></app-buscapelis>
        </div>
    </div>
    <div class="row misProyectos">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row misProyectos">
        <div class="col-md-5">  
            <app-login></app-login>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row misProyectos">
        <div class="col-md-1"></div>
        <!-- <div class="col-md-10">
            <app-madri-deporte></app-madri-deporte>
        </div> -->
        <div class="col-md-1"></div>
    </div> 
    <div class="row mt-4 misProyectos">
        <div class="col-md-12">
            <h1>WooooWOOOWOOOW</h1>
        </div>
    </div>   
</div>