<h3 class="tituloComponente">Proyecto Login</h3>
<p class="descripcion">En este caso, voy a simular un sistema de <span class="negrita">Login</span> 
    como podría tener cualquier aplicación web.</p>
<p class="descripcion">Para ello voy a aprovechar las facilidades que nos da la API de https://reqres.in. 
  Vamos a utilizar una ventana de <span class="negrita">Login</span> y otra de <span class="negrita">Registro.</span></p>
<p class="descripcion">Se debe emplear para este ejemplo el siguiente correo: "<span class="negrita">eve.holt@reqres.in
</span>". Ya que la API con la que se trabaja es de pago.</p>     

<button class="btn boton btn-warning" (click)="desvelar()">MOSTRAR</button>
<div class="login" *ngIf="mostrar">
  <h3 class="tituloVentana">Ventana de Registro</h3>
  <form class="custom-form" method="post">
    <h1 class="entrar">Registro</h1>
    <input
      type="email"
      [(ngModel)]="emailRegistro"
      name="email"
      placeholder="Introduzca Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="passwordRegistro"
      name="password"
      placeholder="Introduzca Contraseña"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="confirmPasswordRegistro"
      name="password"
      placeholder="Confirme Contraseña"
      required="required"
    />
    <button type="submit" (click)="register()">REGISTRO</button>
  </form>
  <h3 class="tituloVentana">Ventana de Login</h3>
  <h2 class="mensaje">{{mensaje}}</h2>
  <form class="custom-form" method="post">
    <h1 class="entrar">Bienvenido</h1>
     <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Introduzca Email"
      required="required"
      />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Introduzca Contraseña"
      required="required"
    />
    <button type="submit" (click)="login()">Entrar</button>
  </form>   
</div>
