// *{
//   margin: 0;
//   padding: 0;
//   position: relative;
// }


// .menuPadre {
//     flex: auto;
//   }

// .menuPadre{
//   background-image: radial-gradient(circle at 8.11% 34.75%, #9263cf 0, #574296 25%, #1f1f59 50%, #000022 75%, #000000 100%);
//   color: white !important;
//   // opacity: 0.6;
//   border-bottom-left-radius: 5%;
//   border-bottom-right-radius: 5%;
//   box-shadow: 0 0 50px #0d1cf5; 
  
// }
// .desarrollador{
//   font-size: small;
//   padding: 1rem;
// }

// .menuLinksIzq{
//   // word-wrap: break-word;
//   padding: 1rem;
//   position:relative;
//   margin-left: 12rem;

 
 
// }

// .menuLinks {
//   padding: 0.2rem;
//   position:relative;
//   padding: 1.2rem;  
// }

// .menuLinks a {
//   text-decoration: none;
//   color: white;
//   font-size: medium;
//   &:hover{
//     color: green;
//   }
// }

// .menuLinksIzq a{
//   text-decoration: none;
//   color: white;
//   font-size: medium;
  
//   &:hover{
//     color: green;
//   }
// }