<!-- 
<mat-toolbar class="menuPadre">
  <mat-toolbar-row>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="direccionar('')">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="direccionar('contacto')">
      <mat-icon>account_circle</mat-icon>
      <span>Contacto</span>
    </button>
  </mat-menu>
    <span>Sergio Pérez</span>
    <span class="desarrollador">Desarrollador web</span>
    <!-- <div class="menuLinksPadre"> -->
      <!-- <div class="menuLinksIzq">
        <a routerLink="/misproyectos" routerLinkActive="active">Mis Proyectos</a>
      </div>   
      <div class="menuLinks">  
        <a routerLink="/contacto" routerLinkActive="active">Mi CV</a>
      </div>  
      <div class="menuLinks">
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </div>  

  </mat-toolbar-row>
</mat-toolbar> --> 