<h3 class="tituloComponente">Eventos Próximos</h3>
<p class="descripcion">Este proyecto sigo utilizando una API REST, en este caso del Ayuntamiento de Madrid.</p>
<p class="descripcion">Recibo una respuesta (.json) y la muestro a través de una <span class="negrita">tabla dinámica.</span></p>
<button class="btn boton btn-warning" (click)="desvelar()">MOSTRAR</button>
<div>
    <table class="table">
        <!-- <tr><th>EVENTO</th><th>FECHA INICIO</th><th>FECHA FIN</th><th>PRECIO</th><th>ENLACE</th></tr> -->
        <tr>
            <th scope="col">EVENTO</th>
        </tr>
        <tr><td *ngFor="let event of evento">HOLA {{event.evento}}</td>
            <!-- <td> </td>
            <td> </td>
            <td> </td>
            <td> </td> -->
        </tr>
    </table>
</div>